{% extends 'blog/base.html' %} {% block content %}
<div class="jumbotron">
    <h1>Instructions</h1>
    <hr class="my-4">
    <ul class="list-group">
        <li>To check out all the posts by an author, click the author's name displayed at the top of a post.</li>
        <br>
        <li>To view a post in its entirety by an author, click the post's name displayed at the top of a post.</li>
        <br>
        <li>To update/delete a post by you, click the post's name displayed at the top of a post.</li>
        <br>
        <li>To edit your username, profile picture and other details, click Edit Profile/My Profile.</li>
        <br>
    </ul>
</div>
{% endblock content %}